postulate
  A : U ; x y : A ⊢ Id : U

postulate
  A : U ; x : A ⊢ refl : Id(A, x, x)

define
  |- ack : Nat -> Nat -> Nat
  = λx. elim(_. _, -- motive
    {- zero -}     λx. suc(x),
    {- suc -} x r. λx.
      elim(_. _, r suc(zero), m s. r s, x),
    x)

define
  A : U; B : U |- flip : (A * B) -> (B * A)
  = \p. pair(snd(p), fst(p))

define
  A : U; B : U; C : U |- compose : (A -> B) -> (B -> C) -> (A -> C)
  = λf. λg. λa. g (f a)

define
  A : U; n : Nat |- repeat : (A -> A) -> (A -> A)
  = \f. elim(_. _,
    \x. x,
    n r. \g. \x. f (r x), -- todo adding \f here should be an error
    n
  )

eval
  -- repeat(Nat * Nat, 1) flip(_, _)
  repeat(Nat * Nat, ack 3 4) flip(_, _)
