postulate
  A : U ; x y : A ⊢ Id : U

postulate
  A : U ; x : A ⊢ refl : Id(A, x, x)

define
  |- ack : Nat -> Nat -> Nat
  = λx. elim(_. _, -- motive
    {- zero -}     λx. suc(x),
    {- suc -} x r. λx.
      elim(_. _, r suc(zero), m s. r s, x),
    x)

define
  A : U; B : U; p : A * B |- flip : B * A
  = pair(snd(p), fst(p))

define
  A : U; B : U; C : U |- compose : (A -> B) -> (B -> C) -> (A -> C)
  = λf. λg. λa. g (f a)

eval
  the(Id(Nat, ack() 3 4, 125), refl(_, _))
